a.btn {
font-family: PTSansBold, sans-serif;
font-size: 20px;
color: black;
background: #e4dc23;
border-radius: 8px;
padding: 5px 18px 5px 18px;
text-transform: uppercase;

}
a.btn:hover {
background:#e8a62e;
}
a.btn:active  {
background:#e4dc23;
}
a.ghost {
border: 2px solid #e4dc23;
color: #e4dc23;
background: none;
} 
a.btn.ghost:hover {
color: black;
background:#e8a62e;
border-color: #e8a62e;
}
a.btn.ghost:active {
color: black;
background: #e4dc23;
border-color:#e4dc23;
box-shadow: none;
}
a.ghost:visited {
    color: #e4dc23;
}
a.small {
font-family: PTSansBold, sans-serif;
font-size: 16px;
padding: 3px 13px 3px 13px;
}
a {
transition-timing-function: ease-in;
transition-duration: 0.3s;
}
a:hover, a:active {
transition-timing-function: ease-out;
transition-duration: 0.2s;
}
a.text-link {
font-family: PTSansCaptionBold, sans-serif;
font-size: 20px;
color: #119ab7;
border-bottom: 1px dotted #119ab7;
}
a.text-link:hover {
color: #119ab7;
border: none;
text-decoration: none;
}
a.text-link:active {
color: #0d7a91;
text-decoration: none;
}
.text-link:visited, .text-link:focus {
text-decoration: none;
}
