.grey {
    background: grey;
    padding-bottom: 40px;
}
div.black div h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
}
.black {
    background: black;
    padding: 40px 0px 40px 0px;
}

a, a.btn {
    margin-right: 20px;
    margin-bottom: 20px;
    
}
.rotate {
    -ms-transform: rotate(-4deg); /* IE 9 */
    -webkit-transform: rotate(-4deg); /* Safari */
    transform: rotate(-4deg);
    overflow: hidden;
}
